/* Figma Styles of your File */
:root {
  /* Colors */
  --dark-mode: linear-gradient(
    90deg,
    rgba(54, 17, 78, 1) 0%,
    rgba(103, 5, 158, 1) 100%
  );
  --wwwduolingocom-black-30: rgba(0, 0, 0, 0.3);
  --wwwduolingocom-black-40: rgba(0, 0, 0, 0.4);
  --wwwduolingocom-boulder: #777777;
  --wwwduolingocom-dodger-blue: #1cb0f6;
  --wwwduolingocom-limeade: #58cc02;
  --wwwduolingocom-mercury: #e5e5e5;
  --wwwduolingocom-mine-shaft: #3c3c3c;
  --wwwduolingocom-silver-chalice: #afafaf;
  --wwwduolingocom-white: #ffffff;
  --wwwfigmacom-black-10: rgba(0, 0, 0, 0.1);
  --wwwfigmacom-black-50: rgba(0, 0, 0, 0.5);
  --wwwfigmacom-black-90: rgba(0, 0, 0, 0.9);
  --wwwfigmacom-boulder: #757575;
  --wwwfigmacom-chateau-green: #34a853;
  --wwwfigmacom-cinnabar: #ea4335;
  --wwwfigmacom-cod-gray: #1e1e1e;
  --wwwfigmacom-cornflower-blue: #4285f4;
  --wwwfigmacom-dodger-blue: #4d49fc;
  --wwwfigmacom-green-haze: #009951;
  --wwwfigmacom-mercury: #e6e6e6;
  --wwwfigmacom-mine-shaft: #2c2c2c;
  --wwwfigmacom-mountain-meadow: #14ae5c;
  --wwwfigmacom-selective-yellow: #fbbc05;
  --wwwfigmacom-shamrock: #3ecf8e;
  --wwwfigmacom-white: transparent;
  --wwwfigmacom-white-60: rgba(255, 255, 255, 0.6);
  --wwwfigmacom-wild-sand: #f5f5f5;
  --wwwfigmacom-black: #000000;
  --wwwfigmacom-alto: #d9d9d9;

  /* Fonts */
  --titulo-font-family: Inter-Bold, sans-serif;
  --titulo-font-size: 17.100000381469727px;
  --titulo-line-height: 20px;
  --titulo-font-weight: 700;
  --titulo-font-style: normal;
  --pergunta-font-family: Inter-SemiBold, sans-serif;
  --pergunta-font-size: 16.799999237060547px;
  --pergunta-line-height: 20px;
  --pergunta-font-weight: 600;
  --pergunta-font-style: normal;
  --resposta-font-family: Inter-Medium, sans-serif;
  --resposta-font-size: 16px;
  --resposta-line-height: 160%;
  --resposta-font-weight: 500;
  --resposta-font-style: normal;
  --wwwduolingocom-semantic-link-upper-font-family: Inter-Bold, sans-serif;
  --wwwduolingocom-semantic-link-upper-font-size: 13.399999618530273px;
  --wwwduolingocom-semantic-link-upper-line-height: 18px;
  --wwwduolingocom-semantic-link-upper-font-weight: 700;
  --wwwduolingocom-semantic-link-upper-font-style: normal;
  --wwwduolingocom-semantic-link-upper-font-family: Inter-Bold, sans-serif;
  --wwwduolingocom-semantic-link-upper-font-size: 16.5px;
  --wwwduolingocom-semantic-link-upper-line-height: 22.8px;
  --wwwduolingocom-semantic-link-upper-font-weight: 700;
  --wwwduolingocom-semantic-link-upper-font-style: normal;
  --wwwduolingocom-semantic-link-upper-font-family: Inter-Bold, sans-serif;
  --wwwduolingocom-semantic-link-upper-font-size: 17.200000762939453px;
  --wwwduolingocom-semantic-link-upper-line-height: 22.8px;
  --wwwduolingocom-semantic-link-upper-font-weight: 700;
  --wwwduolingocom-semantic-link-upper-font-style: normal;
  --wwwduolingocom-inter-bold-font-family: Inter-Bold, sans-serif;
  --wwwduolingocom-inter-bold-font-size: 28.600000381469727px;
  --wwwduolingocom-inter-bold-line-height: 40px;
  --wwwduolingocom-inter-bold-font-weight: 700;
  --wwwduolingocom-inter-bold-font-style: normal;
  --wwwduolingocom-inter-bold-font-family: Inter-Bold, sans-serif;
  --wwwduolingocom-inter-bold-font-size: 17.100000381469727px;
  --wwwduolingocom-inter-bold-line-height: 20px;
  --wwwduolingocom-inter-bold-font-weight: 700;
  --wwwduolingocom-inter-bold-font-style: normal;
  --wwwduolingocom-inter-bold-font-family: Inter-Bold, sans-serif;
  --wwwduolingocom-inter-bold-font-size: 17.200000762939453px;
  --wwwduolingocom-inter-bold-line-height: 20px;
  --wwwduolingocom-inter-bold-font-weight: 700;
  --wwwduolingocom-inter-bold-font-style: normal;
  --wwwduolingocom-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwduolingocom-inter-medium-font-size: 16.799999237060547px;
  --wwwduolingocom-inter-medium-line-height: 20px;
  --wwwduolingocom-inter-medium-font-weight: 500;
  --wwwduolingocom-inter-medium-font-style: normal;
  --wwwduolingocom-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwduolingocom-inter-medium-font-size: 16.899999618530273px;
  --wwwduolingocom-inter-medium-line-height: 20px;
  --wwwduolingocom-inter-medium-font-weight: 500;
  --wwwduolingocom-inter-medium-font-style: normal;
  --wwwduolingocom-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwduolingocom-inter-medium-font-size: 17.100000381469727px;
  --wwwduolingocom-inter-medium-line-height: 20px;
  --wwwduolingocom-inter-medium-font-weight: 500;
  --wwwduolingocom-inter-medium-font-style: normal;
  --wwwduolingocom-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwduolingocom-inter-medium-font-size: 17.200000762939453px;
  --wwwduolingocom-inter-medium-line-height: 20px;
  --wwwduolingocom-inter-medium-font-weight: 500;
  --wwwduolingocom-inter-medium-font-style: normal;
  --wwwduolingocom-inter-bold-font-family: Inter-Bold, sans-serif;
  --wwwduolingocom-inter-bold-font-size: 16.600000381469727px;
  --wwwduolingocom-inter-bold-line-height: 20px;
  --wwwduolingocom-inter-bold-font-weight: 700;
  --wwwduolingocom-inter-bold-font-style: normal;
  --wwwduolingocom-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwduolingocom-inter-medium-font-size: 17.799999237060547px;
  --wwwduolingocom-inter-medium-line-height: 20px;
  --wwwduolingocom-inter-medium-font-weight: 500;
  --wwwduolingocom-inter-medium-font-style: normal;
  --wwwfigmacom-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwfigmacom-inter-regular-font-size: 11px;
  --wwwfigmacom-inter-regular-line-height: normal;
  --wwwfigmacom-inter-regular-font-weight: 400;
  --wwwfigmacom-inter-regular-font-style: normal;
  --wwwfigmacom-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --wwwfigmacom-inter-semi-bold-font-size: 10.800000190734863px;
  --wwwfigmacom-inter-semi-bold-line-height: 16px;
  --wwwfigmacom-inter-semi-bold-font-weight: 600;
  --wwwfigmacom-inter-semi-bold-font-style: normal;
  --wwwfigmacom-inter-italic-font-family: Inter-Italic, sans-serif;
  --wwwfigmacom-inter-italic-font-size: 11px;
  --wwwfigmacom-inter-italic-line-height: normal;
  --wwwfigmacom-inter-italic-font-weight: 400;
  --wwwfigmacom-inter-italic-font-style: italic;
  --wwwfigmacom-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwfigmacom-inter-medium-font-size: 11px;
  --wwwfigmacom-inter-medium-line-height: normal;
  --wwwfigmacom-inter-medium-font-weight: 500;
  --wwwfigmacom-inter-medium-font-style: normal;
  --wwwfigmacom-inter-medium-italic-font-family: Inter-MediumItalic, sans-serif;
  --wwwfigmacom-inter-medium-italic-font-size: 11px;
  --wwwfigmacom-inter-medium-italic-line-height: normal;
  --wwwfigmacom-inter-medium-italic-font-weight: 500;
  --wwwfigmacom-inter-medium-italic-font-style: italic;
  --wwwfigmacom-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --wwwfigmacom-inter-semi-bold-font-size: 11px;
  --wwwfigmacom-inter-semi-bold-line-height: normal;
  --wwwfigmacom-inter-semi-bold-font-weight: 600;
  --wwwfigmacom-inter-semi-bold-font-style: normal;
  --wwwfigmacom-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --wwwfigmacom-inter-semi-bold-font-size: 12.899999618530273px;
  --wwwfigmacom-inter-semi-bold-line-height: 22px;
  --wwwfigmacom-inter-semi-bold-font-weight: 600;
  --wwwfigmacom-inter-semi-bold-font-style: normal;
  --wwwfigmacom-inter-semi-bold-italic-font-family: Inter-SemiBoldItalic,
    sans-serif;
  --wwwfigmacom-inter-semi-bold-italic-font-size: 11px;
  --wwwfigmacom-inter-semi-bold-italic-line-height: normal;
  --wwwfigmacom-inter-semi-bold-italic-font-weight: 600;
  --wwwfigmacom-inter-semi-bold-italic-font-style: italic;
  --wwwfigmacom-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwfigmacom-inter-medium-font-size: 13px;
  --wwwfigmacom-inter-medium-line-height: 20px;
  --wwwfigmacom-inter-medium-font-weight: 500;
  --wwwfigmacom-inter-medium-font-style: normal;
  --wwwfigmacom-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwfigmacom-inter-medium-font-size: 12.899999618530273px;
  --wwwfigmacom-inter-medium-line-height: 24px;
  --wwwfigmacom-inter-medium-font-weight: 500;
  --wwwfigmacom-inter-medium-font-style: normal;
  --wwwfigmacom-semantic-button-font-family: Inter-SemiBold, sans-serif;
  --wwwfigmacom-semantic-button-font-size: 11px;
  --wwwfigmacom-semantic-button-line-height: 16px;
  --wwwfigmacom-semantic-button-font-weight: 600;
  --wwwfigmacom-semantic-button-font-style: normal;
  --wwwfigmacom-semantic-button-font-family: Inter-Medium, sans-serif;
  --wwwfigmacom-semantic-button-font-size: 12.899999618530273px;
  --wwwfigmacom-semantic-button-line-height: 20px;
  --wwwfigmacom-semantic-button-font-weight: 500;
  --wwwfigmacom-semantic-button-font-style: normal;
  --wwwfigmacom-semantic-button-font-family: Inter-SemiBold, sans-serif;
  --wwwfigmacom-semantic-button-font-size: 12.899999618530273px;
  --wwwfigmacom-semantic-button-line-height: 22px;
  --wwwfigmacom-semantic-button-font-weight: 600;
  --wwwfigmacom-semantic-button-font-style: normal;
  --wwwfigmacom-semantic-heading-3-font-family: Inter-SemiBold, sans-serif;
  --wwwfigmacom-semantic-heading-3-font-size: 12.899999618530273px;
  --wwwfigmacom-semantic-heading-3-line-height: 24px;
  --wwwfigmacom-semantic-heading-3-font-weight: 600;
  --wwwfigmacom-semantic-heading-3-font-style: normal;
  --wwwfigmacom-semantic-item-font-family: Inter-Medium, sans-serif;
  --wwwfigmacom-semantic-item-font-size: 12.899999618530273px;
  --wwwfigmacom-semantic-item-line-height: 20px;
  --wwwfigmacom-semantic-item-font-weight: 500;
  --wwwfigmacom-semantic-item-font-style: normal;
  --wwwfigmacom-semantic-item-font-family: Inter-Medium, sans-serif;
  --wwwfigmacom-semantic-item-font-size: 13px;
  --wwwfigmacom-semantic-item-line-height: 20px;
  --wwwfigmacom-semantic-item-font-weight: 500;
  --wwwfigmacom-semantic-item-font-style: normal;
  --wwwfigmacom-semantic-link-font-family: Inter-Regular, sans-serif;
  --wwwfigmacom-semantic-link-font-size: 11px;
  --wwwfigmacom-semantic-link-line-height: 16px;
  --wwwfigmacom-semantic-link-font-weight: 400;
  --wwwfigmacom-semantic-link-font-style: normal;
  --wwwfigmacom-semantic-strong-font-family: Inter-Medium, sans-serif;
  --wwwfigmacom-semantic-strong-font-size: 13px;
  --wwwfigmacom-semantic-strong-line-height: 20px;
  --wwwfigmacom-semantic-strong-font-weight: 500;
  --wwwfigmacom-semantic-strong-font-style: normal;
  --wwwfigmacom-semantic-strong-font-family: Inter-Bold, sans-serif;
  --wwwfigmacom-semantic-strong-font-size: 13px;
  --wwwfigmacom-semantic-strong-line-height: 20px;
  --wwwfigmacom-semantic-strong-font-weight: 700;
  --wwwfigmacom-semantic-strong-font-style: normal;
  --wwwfigmacom-semantic-textarea-font-family: Inter-Regular, sans-serif;
  --wwwfigmacom-semantic-textarea-font-size: 13px;
  --wwwfigmacom-semantic-textarea-line-height: 16px;
  --wwwfigmacom-semantic-textarea-font-weight: 400;
  --wwwfigmacom-semantic-textarea-font-style: normal;

  /* Effects */
}
/* Figma Color Variables of your File */
[data-wwwduolingocom-mode="mode-1"] {
  /* mode-1 */
  --color-white-solid: #ffffff;
  --color-chartreuse-green-40: #58cc02;
  --color-grey-90: #e5e5e5;
  --color-azure-54: #1cb0f6;
  --color-grey-69: #afafaf;
  --color-grey-24: #3c3c3c;
  --color-grey-47: #777777;
  --color-black-40: rgba(0, 0, 0, 0.4);
  --color-black-30: rgba(0, 0, 0, 0.3);
}

[data-wwwfigmacom-mode="mode-1"] {
  /* mode-1 */
  --color-black-solid: #000000;
  --color-white-solid: #ffffff;
  --color-grey-90: #e6e6e6;
  --color-grey-96: #f5f5f5;
  --color-black-10: rgba(0, 0, 0, 0.1);
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-black-90: rgba(0, 0, 0, 0.9);
  --color-spring-green-36: #249361;
  --color-spring-green-53: #3ecf8e;
  --color-black-0: rgba(0, 0, 0, 0);
  --color-spring-green-30: #009951;
  --color-spring-green-38: #14ae5c;
  --color-white-60: rgba(255, 255, 255, 0.6);
  --color-white-0: rgba(255, 255, 255, 0);
  --color-blue-64: #4d49fc;
  --color-azure-61: #4285f4;
  --color-spring-green-43: #34a853;
  --color-orange-50: #fbbc05;
  --color-red-56: #ea4335;
  --color-grey-46: #757575;
  --color-black-30: rgba(0, 0, 0, 0.3);
  --color-grey-85: #d9d9d9;
  --color-grey-12: #1e1e1e;
  --color-grey-17: #2c2c2c;
}
