.dashbboard-light-mode,
.dashbboard-light-mode * {
  box-sizing: border-box;
}
.dashbboard-light-mode {
  background: #e9e9e9;
  height: 3216px;
  position: relative;
  overflow: hidden;
}
.rectangle-6769 {
  background: #b868df;
  border-radius: 0px 0px 20px 20px;
  width: 324px;
  height: 108px;
  position: absolute;
  left: 558px;
  top: 786px;
}
.menu-li-a {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 360px;
  position: absolute;
  left: 1041px;
  top: 228px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.a {
  background: var(--background-background, #f5f5f5);
  border-radius: 2px;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.balance {
  background: #36114e;
  border-radius: var(--radius-xl, 12px);
  padding: var(--spacing-3xl, 24px);
  width: 1363px;
  height: 108px;
  position: absolute;
  left: 38px;
  top: 107px;
  box-shadow: 0px 5px 7.8px 0px rgba(0, 0, 0, 0.25);
}
.bem-vindo-de-volta-usu-rio {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  position: absolute;
  left: 63px;
  top: 31px;
  width: 214px;
  height: 20px;
}
.voc-est-em-uma-sequ-ncia-de-15-dias-de-atividade-continue-se-organizando-financeiramente {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  position: absolute;
  left: 30px;
  top: 66px;
}
.piggy-bank-1-1 {
  width: 33px;
  height: 33px;
  position: absolute;
  left: 24px;
  top: 21px;
  object-fit: cover;
  aspect-ratio: 1;
}
.captura-de-tela-2025-11-06-173516-1 {
  width: 991px;
  height: 249px;
  position: absolute;
  left: 8288px;
  top: -1602px;
  object-fit: cover;
  aspect-ratio: 991/249;
}
.rectangle-6768 {
  background: linear-gradient(
    180deg,
    rgba(249, 70, 240, 1) 0%,
    rgba(184, 104, 223, 1) 76.93337798118591%
  );
  border-radius: 0px 20px 20px 0px;
  width: 1446px;
  height: 574px;
  position: absolute;
  left: 0px;
  top: 279px;
}
.construa-sua-liberdade-financeira-um-or-amento-de-cada-vez {
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  line-height: 144%;
  font-weight: 700;
  position: absolute;
  left: 200px;
  top: 417px;
  width: 504px;
  height: 137px;
}
.construa-sua-liberdade-financeira-um-or-amento-de-cada-vez-span {
  color: #36114e;
}
.construa-sua-liberdade-financeira-um-or-amento-de-cada-vez-span2 {
  color: #f4c300;
}
.group-1000002375 {
  height: auto;
  position: absolute;
  left: -2px;
  top: 2441px;
  overflow: visible;
}
.vector {
  width: 1.77%;
  height: 1.32%;
  position: absolute;
  right: 53.65%;
  left: 44.58%;
  bottom: 6.61%;
  top: 92.07%;
  overflow: visible;
}
.group-1000002378 {
  position: absolute;
  inset: 0;
}
.rectangle-6755 {
  background: #36114e;
  width: 1440px;
  height: 310px;
  position: absolute;
  left: 0px;
  top: 2906px;
}
.line-2 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 1px 0 0 0;
  width: 838.04px;
  height: 0px;
  position: absolute;
  left: 301px;
  top: 3124.52px;
}
._2025-fin-up-todos-os-direitos-reservados {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Light", sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  left: 519px;
  top: 3140.79px;
  width: 402px;
  height: 37.61px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mdi-instagram {
  width: 34.28px;
  height: 34.28px;
  position: absolute;
  left: 702.86px;
  top: 3068.76px;
  aspect-ratio: 1;
}
.mdi-github {
  width: 34.28px;
  height: 34.28px;
  position: absolute;
  left: 759.86px;
  top: 3068.76px;
  aspect-ratio: 1;
}
.logo-proa {
  position: absolute;
  inset: 0;
}
.rectangle-6754 {
  background: #3e3df5;
  width: 434.54px;
  height: 150px;
  position: absolute;
  left: -75px;
  top: 2000px;
}
.image-1 {
  width: 409.88px;
  height: 108.88px;
  position: absolute;
  left: -59.54px;
  top: 2014.43px;
  object-fit: cover;
  aspect-ratio: 409.88/108.88;
}
.rectangle-67542 {
  background: #3e3df5;
  width: 434.54px;
  height: 150px;
  position: absolute;
  left: 1175px;
  top: 1986px;
}
.image-12 {
  width: 409.88px;
  height: 108.88px;
  position: absolute;
  left: 1190.46px;
  top: 2000.43px;
  object-fit: cover;
  aspect-ratio: 409.88/108.88;
}
.image-3 {
  width: 455px;
  height: 249px;
  position: absolute;
  left: 454px;
  top: 1937px;
  object-fit: cover;
  aspect-ratio: 455/249;
}
.rectangle-6756 {
  background: rgba(255, 255, 255, 0.53);
  width: 192px;
  height: 261px;
  position: absolute;
  left: -12px;
  top: 1945px;
}
.rectangle-6757 {
  background: rgba(255, 255, 255, 0.53);
  width: 192px;
  height: 261px;
  position: absolute;
  left: -12px;
  top: 1979px;
}
.rectangle-6758 {
  background: rgba(255, 255, 255, 0.53);
  width: 176px;
  height: 261px;
  position: absolute;
  left: 1252px;
  top: 1937px;
}
.header {
  background: #fffeec;
  width: 1440px;
  height: 89px;
  position: absolute;
  left: 0px;
  top: -1px;
}
.logo {
  height: auto;
  position: absolute;
  left: 16px;
  top: 26px;
  overflow: visible;
}
.group-1000002381 {
  position: absolute;
  inset: 0;
}
.path {
  border-radius: 0px;
  width: 1.42%;
  height: 0.79%;
  position: absolute;
  right: 16.76%;
  left: 81.83%;
  bottom: 98.24%;
  top: 0.97%;
  overflow: visible;
}
.path2 {
  border-radius: 0px;
  width: 1.01%;
  height: 0.53%;
  position: absolute;
  right: 16.96%;
  left: 82.03%;
  bottom: 98.41%;
  top: 1.06%;
  overflow: visible;
}
.group-1000002382 {
  width: 12px;
  height: 20px;
  position: static;
}
.bg {
  border-radius: 0px;
  height: 12px;
  position: absolute;
  right: 239px;
  left: 1189px;
  top: calc(50% - 1579px);
  overflow: visible;
}
.monica-simons {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 8px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  right: 16.6%;
  left: 82.78%;
  width: 0.62%;
  top: calc(50% - 1583px);
}
._00-general-01-icons-01-actions-01-add-rounded {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 1119px;
  top: 26px;
  overflow: visible;
  aspect-ratio: 1;
}
.avatar {
  position: absolute;
  inset: 0;
}
.mask {
  background: #d8d8d8;
  border-radius: 50%;
  width: 2.5%;
  height: 1.12%;
  position: absolute;
  right: 12.36%;
  left: 85.14%;
  bottom: 98.07%;
  top: 0.81%;
}
.bitmap {
  width: 2.71%;
  height: 1.21%;
  position: absolute;
  right: 12.29%;
  left: 85%;
  bottom: 98.01%;
  top: 0.78%;
  object-fit: cover;
}
._00-general-01-icons-08-arrows-08-down {
  width: 1.67%;
  height: 0.75%;
  position: absolute;
  right: 1.67%;
  left: 96.67%;
  bottom: 98.23%;
  top: 1.03%;
  overflow: visible;
}
.monica-simons2 {
  color: #36114e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  right: 3.68%;
  left: 88.47%;
  width: 7.85%;
  top: calc(50% - 1574px);
}
.flash-1-1 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 749px;
  top: 24px;
  object-fit: cover;
  aspect-ratio: 1;
}
.monica-simons3 {
  color: #36114e;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  right: 38.75%;
  left: 54.79%;
  width: 6.46%;
  top: calc(50% - 1574px);
}
.group-1000002356 {
  position: absolute;
  inset: 0;
}
.experience-1 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 935px;
  top: 24px;
  object-fit: cover;
  aspect-ratio: 1;
}
.monica-simons4 {
  color: #36114e;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  right: 28.12%;
  left: 67.71%;
  width: 4.17%;
  top: calc(50% - 1574px);
}
.tabs {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 538px;
  position: absolute;
  left: 139px;
  top: 20px;
  overflow: hidden;
}
.ul {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.li {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.a2 {
  border-style: solid;
  border-color: var(--text-text-strong, #363636);
  border-width: 0px 0px 1px 0px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text {
  color: #222222;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 15px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
}
.a3 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text2 {
  color: #5d5d5d;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
}
.border {
  background: #dbdbdb;
  flex-shrink: 0;
  height: 1px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
}
.text3 {
  color: #5d5d5d;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 511px;
  top: 28px;
}
.text4 {
  color: #5d5d5d;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 602px;
  top: 29px;
}
.mdi-instagram2 {
  width: 34px;
  height: 34px;
  position: absolute;
  left: 589px;
  top: 3085px;
  overflow: visible;
  aspect-ratio: 1;
}
.sua-jornada-para-a-liberdade-financeira-come-a-aqui {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Light", sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  left: 589px;
  top: 3034px;
  width: 271px;
  height: 57px;
}
.vector2 {
  width: 1.77%;
  height: 0.79%;
  position: absolute;
  right: 53.99%;
  left: 44.24%;
  bottom: 3.16%;
  top: 96.05%;
  overflow: visible;
}
.mdi-github2 {
  width: 34px;
  height: 34px;
  position: absolute;
  left: 677px;
  top: 3085px;
  overflow: visible;
  aspect-ratio: 1;
}
.logotipo {
  height: auto;
  position: absolute;
  left: 579px;
  top: 2961px;
  overflow: visible;
}
._00-general-01-icons-02-common-01-settings {
  width: 1.67%;
  height: 0.75%;
  position: absolute;
  right: 25%;
  left: 73.33%;
  bottom: 91.98%;
  top: 7.28%;
  overflow: visible;
}
.search {
  color: rgba(103, 5, 158, 0.45);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  right: 20.42%;
  left: 75.56%;
  width: 4.03%;
  top: calc(50% - 1372px);
}
.a-liberdade-n-o-um-destino-mas-uma-jornada-de-escolhas-conscientes-cada-real-economizado-hoje-uma-semente-plantada-para-a-sua-tranquilidade-de-amanh-comece-a-planejar-seus-gastos-e-garanta-o-controle-do-seu-pr-prio-futuro {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 154%;
  font-weight: 400;
  position: absolute;
  left: 200px;
  top: 566px;
  width: 444px;
  height: 116px;
}
.rectangle-6770 {
  border-radius: 200px 200px 0px 0px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 20px;
  width: 407px;
  height: 382px;
  position: absolute;
  left: 864px;
  top: 353px;
  object-fit: cover;
}
.box {
  background: var(--white-white, #ffffff);
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 462px;
  height: 564px;
  position: absolute;
  left: 16px;
  top: 875px;
  box-shadow: var(
    --shadow-box-shadow,
    0px 0px 0px 1px rgba(0, 0, 0, 0.02),
    0px 8px 16px -2px rgba(0, 0, 0, 0.1)
  );
}
.block {
  padding: 0px 0px 24px 0px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.arranjo-espaco-de-trabalho-com-lampada {
  flex-shrink: 0;
  width: 356.03px;
  height: 237.38px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  aspect-ratio: 356.03/237.38;
}
.arranjo-espaco-de-trabalho-com-lampada2 {
  width: 117.69%;
  height: 99.84%;
  position: absolute;
  right: -8.7%;
  left: -8.99%;
  bottom: 0.16%;
  top: 0%;
  object-fit: cover;
}
.m-dulo-1-organiza-o-finaceira {
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
}
.m-dulo-1-organiza-o-finaceira-span {
  color: #f946f0;
}
.m-dulo-1-organiza-o-finaceira-span2 {
  color: #000000;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.primary-button {
  background: var(--primary-primary, #00d1b2);
  border-radius: 6px;
  border-style: solid;
  border-color: var(--primary-primary, #00d1b2);
  border-width: 1px;
  padding: 7px 16px 7px 16px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.label {
  color: var(--primary-primary-invert, #ffffff);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  position: relative;
}
.progress-bar {
  background: var(--border-border-light, #ededed);
  border-radius: 9999px;
  flex: 1;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.bar-segment {
  background: var(--success-success, #48c78e);
  width: 20%;
  position: absolute;
  right: 80%;
  left: 0%;
  bottom: 0px;
  top: 0px;
}
.bar-segment2 {
  background: var(--success-success, #48c78e);
  width: 20%;
  position: absolute;
  right: 60%;
  left: 20%;
  bottom: 0px;
  top: 0px;
}
.continue-estudando-ter-uma-boa-fonte-de-conhecimento-essencial-e-n-o-desista-no-meio-do-caminho {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 122%;
  font-weight: 500;
  position: relative;
  width: 377px;
  height: 71px;
}
.block2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  height: 30px;
  position: relative;
}
.box2 {
  background: var(--white-white, #ffffff);
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 462px;
  height: 564px;
  position: absolute;
  left: 489px;
  top: 922px;
  box-shadow: var(
    --shadow-box-shadow,
    0px 0px 0px 1px rgba(0, 0, 0, 0.02),
    0px 8px 16px -2px rgba(0, 0, 0, 0.1)
  );
}
.miss-es-1 {
  flex-shrink: 0;
  width: 422px;
  height: 241px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 422/241;
}
.target-1 {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.manter-suas-miss-es-em-dia-te-ajuda-a-aprender-e-a-ganhar-mais-xp {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 122%;
  font-weight: 500;
  position: relative;
  width: 377px;
  height: 71px;
}
.box3 {
  background: var(--white-white, #ffffff);
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 462px;
  height: 564px;
  position: absolute;
  left: 962px;
  top: 874px;
  box-shadow: var(
    --shadow-box-shadow,
    0px 0px 0px 1px rgba(0, 0, 0, 0.02),
    0px 8px 16px -2px rgba(0, 0, 0, 0.1)
  );
}
.medalhas-1 {
  flex-shrink: 0;
  width: 415.42px;
  height: 237.38px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 415.42/237.38;
}
.m-dulo-1-conquistas-recentes {
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
}
.m-dulo-1-conquistas-recentes-span {
  color: #f946f0;
}
.m-dulo-1-conquistas-recentes-span2 {
  color: #000000;
}
.continue-suas-t-refas-para-receber-mais-conquistas {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 122%;
  font-weight: 500;
  position: relative;
  width: 377px;
  height: 71px;
}
.complete-suas-miss-es-di-riamente {
  color: #36114e;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 551px;
  top: 1208px;
  width: 360px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.parceiros {
  background: linear-gradient(
    90deg,
    rgba(125, 39, 180, 1) 0%,
    rgba(249, 70, 240, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  left: 571px;
  top: 1676px;
  width: 297px;
  height: 149px;
  display: flex;
  align-items: center;
  justify-content: center;
}
